
#newsletter-toc ol
{
	margin: 0;
}

#newsletter-toc ol ol
{
	margin: 0;
	text-indent: 10px;
}

#newsletter-toc ol ol ol
{
	text-indent: 20px;
}

#newsletter-toc ol
{
	font-weight: bold;
}

#newsletter-toc ol ol
{
	font-weight: normal;
}


#newsletter-toc ol ol ol ol
{
	text-indent: 30px;
}

#newsletter-toc ol ol ol ol ol
{
	text-indent: 40px;
}

#newsletter-toc li
{
list-style: none;
margin: 0;
border-top: 1px solid #DDE;
text-align: left;
}

#newsletter-toc li a
{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
border-left: 1em solid #DDE;
background: #EEF;
text-decoration: none;
}

#newsletter-toc li a:link { color: #448; }
#newsletter-toc li a:visited { color: #667; }

#newsletter-toc li a:hover
{
border-color: #FE3;
color: #FFF;
background: #887;
}